body {
  background: #25d2ed;

}


.form__login {

  background-color: aliceblue;
  border-radius: 10px 100px / 120px;
  text-align: center;
  margin: auto;
  width: 30%;
  padding: auto;
  display: flex;
  flex-direction: column;

}

.form__container {
  margin-top: 3em;
  gap: 2.5em;



}


.form__button--Ingresar {
  background-color: aqua;
  border-radius: 30px;



}

.form__group {
  position: relative;
  margin-bottom: 2%;

}

input {
  border-bottom: 30px;
  border-color: blue;


}

h1 {
  font-family: Georgia, serif;

}